[class* col-]{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* header */
body {
    padding-top: 130px;
    overflow-x: hidden;
    width: 100vw;
}
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #343a40;
    z-index: 1000;
    flex-wrap: wrap;

}
.header .menu .nav-item .nav-link{
    color: white;
    margin-right: 15px;
}
.header .icon .nav-item .nav-link:hover,
.header .menu .nav-item .nav-link:hover {
    color: blue;
    background-color: rgb(16, 15, 15);
    border-radius: 20px;
}
.input-group {
    width: 250px;
    margin-right: 20px;
}
.header .icon .nav-item {
    margin-left: 20px;
}
.row {
    margin: 0;
    padding: 0;
}
/* foooter */
.footer{
    height: 320px;
    width: 100vw;
    max-width: 100%;;
    background-color: #11006f;
    color: white;
    padding-left: 20px;
    text-align: left;
    flex-wrap: wrap;

}
.footer .row .col-2 .nav .nav-item .nav-link,
.footer .row .col-3 .nav .nav-item .nav-link{
    color: white;
}
.footer .row .col-2 .nav .nav-item .nav-link:hover,
.footer .row .col-3 .nav .nav-item .nav-link:hover {
    color: black;
}
/* * {
    outline: 2px solid red !important;
} */
